<a href="https://colab.research.google.com/github/juliodantas/webscrapping/blob/main/001_Aula_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Primeira meu codigo
print('Olá mundão!')

Olá mundão!

In [ ]:
print("Olá mundão!")

Olá mundão!

In [ ]:
# Operadores para cálculos
4 + 4

8

In [ ]:
4 - 4

0

In [ ]:
2 * 10

20

In [ ]:
2 / 4

0.5

In [ ]:
Variavel = 9
Variavel_02 = 'Palavra'

Soma = 1 + 2
Subtracao = 1 - 1
Multiplicacao = 10 * 7
Divisao = 10 / 2
Exponenciacao = 2 ** 2
Resto_Divisao = 9 % 4
Divisao_Chao = 9 // 2

print('Soma:', Soma )
print('Subtratação:', Subtracao )
print('Multiplocação: {}, {}'.format( Multiplicacao, Multiplicacao ) )
print('Divisao:', Divisao )
print('Exponenciação {}'.format( Exponenciacao ) )
print('Resto da Divisão', Resto_Divisao )
print('Divisão {}'.format( Divisao_Chao ) )

Soma: 3
Subtratação: 0
Multiplocação: 70, 70
Divisao: 5.0
Exponenciação 4
Resto da Divisão 1
Divisão 4

In [ ]:
# Tipos de Variaveis 

# Valor inteiro
Inteiro_01 = 100
Inteiro_02 = int( 100 )

# Valor flutuante
Flutuante_01 = 10.09
Flutuante_02 = float( 10.09 )

# Strings ( Palavras ou Frases )
Palavra_01 = 'Qualquer Coisa !!!'
Palavra_02 = str( "Qualquer coisa !!!" )

# Boleanos
Booleano_01 = True
Booleano_02 = False

# Tipos de Dados

# Listas
Listas_01 = [1, 2, 3, 4, 5]
Listas_02 = ['Nome', 'Palavras', 'Odemir', 'Fruta']
Listas_03 = [1, 'Palavra', True, False]

# Tuplas ( São imnutaveis --> Elá nunca vai mudar )
Tupla_01 = (1, 2, 3, 4)
Tupla_02 = ('Palavra', 2, True)

# Dicionários 
Dicionario = {
    'Index':'Alguma coisa',
    'Index_02':100,
    'Index_03':True,
    'Qualquer Indez':'Qualquer valor',
    'Lista Aqui dentro': Listas_01,
    'Tupla': Tupla_01
}

In [ ]:
Dicionario

{'Index': 'Alguma coisa',
 'Index_02': 100,
 'Index_03': True,
 'Lista Aqui dentro': [1, 2, 3, 4, 5],
 'Qualquer Indez': 'Qualquer valor',
 'Tupla': (1, 2, 3, 4)}

In [ ]:
# Nomear variaveis | Exemplo 01

# multiplos valores
A, B, C = 1, 2, 50

print(A, B, C)

1 2 50

In [ ]:
# Nomear variaveis | Exemplo 02

Morango = Uva = Kiwi = 1000

print( Morango, Uva, Kiwi )

1000 1000 1000

In [ ]:
# Nomear variaveis | Exemplo 03

# Criar lista
Carros = ['VW', 'GM', 'Ford']

Marca_01, Marca_02, Marca_03 = Carros

print( Marca_02 )

GM

In [ ]:
# Combinanco Variaveis | Exemplo 01

# Concatenar
Nome = 'Odemir'
Sobrenome = str(90)
Nome_Completo = Nome + ' ' + Sobrenome

print( Nome_Completo )

Odemir 90

In [ ]:
# Combinanco Variaveis | Exemplo 02

Dolar = float( 5.40 )
Imposto = 0.20

Valor_Liquido = (Dolar - ( Dolar * Imposto )) * 0.1

print( Valor_Liquido )

0.43200000000000005

In [ ]:
# Comando 'type'

A = 1
B = 2.9
C = 'Olá'
D = [ 1, 2, 3 ]
E = ( 20, 30, 40 )
F = { 'CPF': 123456789 }
G = False

print( type(A) )
print( type(B) )
print( type(C) )
print( type(D) )
print( type(E) )
print( type(F) )
print( type(G) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [ ]:
# Comando 'round' --> Arredondar valores

Valor_Exemplo = 12.123456789

print( round( Valor_Exemplo, 2) )

12.12

In [ ]:
# Comando 'input' 
# Enviar informações

Nome = input( 'Qual seu nome?' )

print('Seu nome é {}'.format(Nome) )

Qual seu nome?Odemir
Seu nome é Odemir

In [ ]:
# Operadores de comparação - Parte 1

Igual = '=='
Diferente = '!='
Maior = '>'
Menor = '<'
Maior_Igual = '>='
Menor_Igual = '<='

print('8 é maior que 7: ', 8 > 7)
print('8 é menor que 7: ', 8 < 7)
print('8 é igual a 8: ', 8 == 8)
print('8 é diferente de 8: ', 8 != 8)

8 é maior que 7:  True
8 é menor que 7:  False
8 é igual a 8:  True
8 é diferente de 8:  False

In [ ]:
# Operadores de comparação - Parte 2

And = 'e'
Ou = 'or'
Negação = 'not'
Dentro = 'in'

print('8 é maior que 7 e 7 é maior 6:', 8 > 7 and 7 > 6 )
print('8 é maior que 7 e 7 é menor 6:', 8 > 7 and 7 < 6 )

print('8 é maior que 7 ou 7 é menor 8:', 8 > 7 or 7 > 6 )

print('8 não esta nessa lista:', 8 not in [8, 9, 10] )
print('8 não esta nessa lista:', 8 in [8, 9, 10] )

8 é maior que 7 e 7 é maior 6: True
8 é maior que 7 e 7 é menor 6: False
8 é maior que 7 ou 7 é menor 8: True
8 não esta nessa lista: False
8 não esta nessa lista: True

In [ ]:
# Manipular Listas
Lista_Vazia = []

print( Lista_Vazia )

Lista_Vazia.append( 1 )
Lista_Vazia.append( 'Odemir' )
Lista_Vazia.append( False )

print('Depois:', Lista_Vazia )

# Acessando os valores 
print('Acessando a primeira posição:', Lista_Vazia[0] )
print('Acessando a terceira posição:', Lista_Vazia[2] )
print('Acessando ultima posição:', Lista_Vazia[-1] )
print('Acessando um intervalo:', Lista_Vazia[0:2] )

# Excluir um valor
del Lista_Vazia[-1]
print( Lista_Vazia )

# Limpa lista
print( Lista_Vazia.clear() )

[]
Depois: [1, 'Odemir', False]
Acessando a primeira posição: 1
Acessando a terceira posição: False
Acessando ultima posição: False
Acessando um intervalo: [1, 'Odemir']
[1, 'Odemir']
None

In [ ]:
# Utlizando funções externa (Libs, Frameworks, Bibliotecas, Funções)

# Instalar pacotes externo <<>>
# !pip install plotly
# pip install plotly

from datetime import datetime

Data = '16/11/21'
print( type(Data) )

Conversao = datetime.strptime(Data, '%d/%m/%y')
print( type(Conversao) )

<class 'str'>
<class 'datetime.datetime'>

In [ ]:
# Metodo 'len'
# Calcula o tamanho de algo

Exemplo = [1, 2, 3, 4, 5, 6, 7, 'Odemir', True]

print( len(Exemplo) )

9

In [ ]:
# 1º Exercicio
# Calculo do IMC

# IMC ( Peso / Altura * Altura )
IMC = round( 50 / ( 1.60 * 1.60 ), 2)

print('Seu IMC é: {}' .format(IMC) )

Seu IMC é: 19.53

In [ ]:
# 2º Exercicios
# Calculo juros simples

Taxa_Juros = 0.05
Investimento = 1000

Ganhar = Investimento + ( Investimento * Taxa_Juros )

print('Acumulei ao todo:', Ganhar )
print('Acumulei de juros:', ( Ganhar - Investimento ) )

Acumulei ao todo: 1050.0
Acumulei de juros: 50.0

In [ ]:
# 3º Exercicios
# Sistema de somas

Valor_01 = int( input('Digite o valor: ' ))
Valor_02 = int( input('Digite o valor: ' ))

Soma = Valor_01 + Valor_02

print('Soma é:', Soma )

Digite o valor: 1234567890
Digite o valor: 4567890
Soma é: 1239135780

In [ ]:
# 4º Exercicios
# Criar uma Data

Dia = int( input('Qual o dia: '))
Mes = int( input('Qual o mes: '))
Ano = int( input('Qual o ano: '))

Data = str(Dia) + '/' + str(Mes) + '/' + str(Ano)

Conversao = datetime.strptime( Data, '%d/%m/%y' )

print('Sua data ajustada: ', Conversao )

Qual o dia: 16
Qual o mes: 1
Qual o ano: 21
Sua data ajustada:  2021-01-16 00:00:00

In [ ]:
# 5º Exercicios
# Calcular metro quadrado

Altura = float( input('Qual a altura: '))
Largura = float( input('Qual a Largura: '))
Quadrado = Altura * Largura

print('O metro quadrado é: {}'.format(Quadrado) )

Qual a altura: 2.8
Qual a Largura: 5.8
O metro quadrado é: 16.24

In [ ]:
# 8º Exercicios
# Sistema de RH

Salario = float( input('Qual seu sálario: ') )

# Variaveis de Desconto
INSS = 0.11
Vale_Refeicao = 0.02
Vale_Transporte = 0.08
IR = 0.08

# Organizar os dados
Dicionario = {
    'INSS': Salario * INSS,
    'Vale Refeição': Salario * Vale_Refeicao,
    'Vale Transporte': Salario * Vale_Transporte,
    'Imposto de Renda': Salario * IR
}

# Calculo do Debito
Debito = Dicionario['INSS'] + Dicionario['Vale Refeição'] + Dicionario['Vale Transporte'] + Dicionario['Imposto de Renda']

# Calculo do Liquido
Liquido = Salario - Debito

print('Salario informado:', Salario )
print('\n') # Pula linha
print('Desconto: ', Debito )
print('Liquido:', Liquido )

Qual seu sálario: 25000
Salario informado: 25000.0


Desconto:  7250.0
Liquido: 17750.0

In [ ]:
Dicionario

{'INSS': 2750.0,
 'Imposto de Renda': 2000.0,
 'Vale Refeição': 500.0,
 'Vale Transporte': 2000.0}

In [ ]:
Dicionario_02 = Dicionario

Dicionario_02['Desconto'] = Debito
Dicionario_02['Liquido'] = Liquido
Dicionario_02['Salario'] = Salario

Dicionario_02

{'Desconto': 7250.0,
 'INSS': 2750.0,
 'Imposto de Renda': 2000.0,
 'Liquido': 17750.0,
 'Salario': 25000.0,
 'Vale Refeição': 500.0,
 'Vale Transporte': 2000.0}

In [ ]:
from pandas import DataFrame

Base_Dados = DataFrame( Dicionario_02, index=[0] )
Base_Dados

     INSS  Vale Refeição  Vale Transporte  ...  Desconto  Liquido  Salario
0  2750.0          500.0           2000.0  ...    7250.0  17750.0  25000.0

[1 rows x 7 columns]

In [ ]:

import pandas as pd

Base_Dados.to_excel('Nome_Arquivo.xlsx')